__pycache__/
*.pyc
.cache/
.tox/
*.DS_Store
Data_Files/LabAwardUserPwd/*
my_untracked_work
.coverage
Data_Files/LabAwardUserPwd/*
.eggs/
htmlcov/
README.html
build/
dist/
4DNWranglerTools.egg-info/*
Submit4DN.egg-info/*
coverage.xml
fields_ordered.xls
fields.xls
AllItems_ordered.xls
AllItems.xls
Koray_scripts/
